### 경북대학교 전기가스 사용량 API 조회

In [1]:
import requests
import json

url = 'http://apis.data.go.kr/1611000/BldEngyService/getBeElctyUsgInfo?sigunguCd=11680&bjdongCd=10300&bun=0012&ji=0000&useYm=201501&ServiceKey=HcemfTODn25HOfvMHgFXSX%2BwwiGPX7McdKfXb09VzlvlBo3vmSQcwOx0oybt2SYSTUMa0TdDoe1nIOy7MeYdbg%3D%3D'

# <response>
# <header>
# <resultCode>00</resultCode>
# <resultMsg>NORMAL SERVICE.</resultMsg>
# </header>
# <body>
# <items>
# <item>
# <bjdongCd>10300</bjdongCd>
# <bun>0012</bun>
# <ji>0000</ji>
# <naMainBun>21.0</naMainBun>
# <naRoadCd>116804166040</naRoadCd>
# <naSubBun>0.0</naSubBun>
# <naUgrndCd>0</naUgrndCd>
# <newPlatPlc>서울특별시 강남구 개포로109길 21</newPlatPlc>
# <platGbCd>0</platGbCd>
# <platPlc>서울특별시 강남구 개포동 12번지</platPlc>
# <rnum>1</rnum>
# <sigunguCd>11680</sigunguCd>
# <useQty>1112466.0</useQty>
# <useYm>201501</useYm>
# </item>
# </items>
# <numOfRows>10</numOfRows>
# <pageNo>1</pageNo>
# <totalCount>1</totalCount>
# </body>
# </response>

# newPlatPlc = '대구광역시 북구 대학로 80' 인 데이터 조회

response = requests.get(url)
data = response.text
print(data)

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><bjdongCd>10300</bjdongCd><bun>0012</bun><ji>0000</ji><naMainBun>21.0</naMainBun><naRoadCd>116804166040</naRoadCd><naSubBun>0.0</naSubBun><naUgrndCd>0</naUgrndCd><newPlatPlc>서울특별시 강남구 개포로109길 21</newPlatPlc><platGbCd>0</platGbCd><platPlc>서울특별시 강남구 개포동 12번지</platPlc><rnum>1</rnum><sigunguCd>11680</sigunguCd><useQty>1112466.0</useQty><useYm>201501</useYm></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>1</totalCount></body></response>

In [2]:
# 경북대학교 정보
# sigunguCd = 27230
# bjdongCd = 11100
# bun = 1370
# ji = 0001
# useYm = 202401
# numOfRows = 10
# pageNo = 1

# useYm 을 201101 ~ 202402 까지 조회
for year in range(2011, 2024):
    for month in range(1, 13):
        useYm = f'{year}{month:02d}'
        url = f'http://apis.data.go.kr/1611000/BldEngyService/getBeElctyUsgInfo?sigunguCd=27230&bjdongCd=11100&bun=1370&ji=0001&useYm={useYm}&ServiceKey=HcemfTODn25HOfvMHgFXSX%2BwwiGPX7McdKfXb09VzlvlBo3vmSQcwOx0oybt2SYSTUMa0TdDoe1nIOy7MeYdbg%3D%3D'
        response = requests.get(url)
        data = response.text
        print(data)
        break
    break

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><bjdongCd>11100</bjdongCd><bun>1370</bun><ji>0001</ji><naMainBun>80.0</naMainBun><naRoadCd>272303145021</naRoadCd><naSubBun>0.0</naSubBun><naUgrndCd>0</naUgrndCd><newPlatPlc>대구광역시 북구 대학로 80</newPlatPlc><platGbCd>0</platGbCd><platPlc>대구광역시 북구 산격동 1370-1번지</platPlc><rnum>1</rnum><sigunguCd>27230</sigunguCd><useQty>194.0</useQty><useYm>201101</useYm></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>1</totalCount></body></response>

In [3]:
import xml.etree.ElementTree as ET
root = ET.fromstring(data)
print(root.tag)
print(root.attrib)
for child in root:
    print(child.tag, child.attrib)
    
for item in root.iter('item'):
    print(item.tag)
    for child in item:
        print(child.tag, child.text)

response
{}
header {}
body {}
item
bjdongCd 11100
bun 1370
ji 0001
naMainBun 80.0
naRoadCd 272303145021
naSubBun 0.0
naUgrndCd 0
newPlatPlc 대구광역시 북구 대학로 80
platGbCd 0
platPlc 대구광역시 북구 산격동 1370-1번지
rnum 1
sigunguCd 27230
useQty 194.0
useYm 201101

In [4]:
# useQty를 출력
for item in root.iter('item'):
    for child in item:
        if child.tag == 'useQty':
            print(child.text)

194.0

In [8]:
# 종합
import pandas as pd

df = pd.DataFrame(columns=['useYm', 'useQty'])

for year in range(2011, 2024):
    for month in range(1, 13):
        useYm = f'{year}{month:02d}'
        url = f'http://apis.data.go.kr/1611000/BldEngyService/getBeElctyUsgInfo?sigunguCd=27230&bjdongCd=11100&bun=1370&ji=0001&useYm={useYm}&ServiceKey=HcemfTODn25HOfvMHgFXSX%2BwwiGPX7McdKfXb09VzlvlBo3vmSQcwOx0oybt2SYSTUMa0TdDoe1nIOy7MeYdbg%3D%3D'
        response = requests.get(url)
        data = response.text
        root = ET.fromstring(data)
        for item in root.iter('item'):
            for child in item:
                if child.tag == 'useQty':
                    print(useYm, child.text)
                    df = pd.concat([df, pd.DataFrame({'useYm': [useYm], 'useQty': [child.text]})])
        break

df

201101 194.0
201201 320.0
201301 377.0
201401 216.0
201501 402.0
201601 408.0
201801 44546.0
201901 50085.0
202001 11821.0
202101 178661.0
202201 191391.0
202301 189248.0

    useYm    useQty
0  201101     194.0
0  201201     320.0
0  201301     377.0
0  201401     216.0
0  201501     402.0
0  201601     408.0
0  201801   44546.0
0  201901   50085.0
0  202001   11821.0
0  202101  178661.0
0  202201  191391.0
0  202301  189248.0

In [ ]:
new_data = pd.DataFrame({'useYm': ['202201', '202202'], 'useQty': [100, 200]})
df = pd.concat([df, new_data], ignore_index=True)

In [10]:
import pandas as pd
import requests
import xml.etree.ElementTree as ET

df = pd.DataFrame(columns=['useYm', 'useQty'])

for year in range(2020, 2024):
    for month in range(1, 13):
        useYm = f'{year}{month:02d}'
        url = f'http://apis.data.go.kr/1611000/BldEngyService/getBeElctyUsgInfo?sigunguCd=27230&bjdongCd=11100&bun=1370&ji=0001&useYm={useYm}&ServiceKey=HcemfTODn25HOfvMHgFXSX%2BwwiGPX7McdKfXb09VzlvlBo3vmSQcwOx0oybt2SYSTUMa0TdDoe1nIOy7MeYdbg%3D%3D'
        response = requests.get(url)
        data = response.text
        root = ET.fromstring(data)
        for item in root.iter('item'):
            for child in item:
                if child.tag == 'useQty':
                    print(useYm, child.text)
                    new_row = pd.DataFrame({'useYm': [useYm], 'useQty': [child.text]})
                    df = pd.concat([df, new_row], ignore_index=True)

print(df)

202001 11821.0
202002 10808.0
202003 10774.0
202004 112331.0
202005 108627.0
202006 107926.0
202007 130267.0
202008 124386.0
202011 129006.0
202012 156247.0
202101 178661.0
202102 168657.0
202103 127284.0
202104 177906.0
202105 151263.0
202106 151278.0
202107 158952.0
202108 165521.0
202109 167524.0
202110 157057.0
202111 159203.0
202112 162964.0
202201 191391.0
202202 160922.0
202203 132289.0
202204 174460.0
202205 135723.0
202206 146926.0
202207 170461.0
202208 180289.0
202209 169151.0
202210 156861.0
202211 138406.0
202212 148996.0
202301 189248.0
202302 154699.0
202303 119090.0
202304 155122.0
202305 129896.0
202306 140844.0
202307 164994.0
202308 167263.0
202309 182880.0
202310 175957.0
202311 130124.0
202312 149871.0
     useYm    useQty
0   202001   11821.0
1   202002   10808.0
2   202003   10774.0
3   202004  112331.0
4   202005  108627.0
5   202006  107926.0
6   202007  130267.0
7   202008  124386.0
8   202011  129006.0
9   202012  156247.0
10  202101  178661.0
11  202102  168657.0
12  202103  127284.0
13  202104  177906.0
14  202105  151263.0
15  202106  151278.0
16  202107  158952.0
17  202108  165521.0
18  202109  167524.0
19  202110  157057.0
20  202111  159203.0
21  202112  162964.0
22  202201  191391.0
23  202202  160922.0
24  202203  132289.0
25  202204  174460.0
26  202205  135723.0
27  202206  146926.0
28  202207  170461.0
29  202208  180289.0
30  202209  169151.0
31  202210  156861.0
32  202211  138406.0
33  202212  148996.0
34  202301  189248.0
35  202302  154699.0
36  202303  119090.0
37  202304  155122.0
38  202305  129896.0
39  202306  140844.0
40  202307  164994.0
41  202308  167263.0
42  202309  182880.0
43  202310  175957.0
44  202311  130124.0
45  202312  149871.0

In [11]:
# 202401, 202402 데이터를 조회하여 DataFrame에 추가
for month in range(1, 6):
    useYm = f'2024{month:02d}'
    url = f'http://apis.data.go.kr/1611000/BldEngyService/getBeElctyUsgInfo?sigunguCd=27230&bjdongCd=11100&bun=1370&ji=0001&useYm={useYm}&ServiceKey=HcemfTODn25HOfvMHgFXSX%2BwwiGPX7McdKfXb09VzlvlBo3vmSQcwOx0oybt2SYSTUMa0TdDoe1nIOy7MeYdbg%3D%3D'
    response = requests.get(url)
    data = response.text
    root = ET.fromstring(data)
    for item in root.iter('item'):
        for child in item:
            if child.tag == 'useQty':
                print(useYm, child.text)
                new_row = pd.DataFrame({'useYm': [useYm], 'useQty': [child.text]})
                df = pd.concat([df, new_row], ignore_index=True)

print(df)

202401 172577.0
202402 141258.0
     useYm    useQty
0   202001   11821.0
1   202002   10808.0
2   202003   10774.0
3   202004  112331.0
4   202005  108627.0
5   202006  107926.0
6   202007  130267.0
7   202008  124386.0
8   202011  129006.0
9   202012  156247.0
10  202101  178661.0
11  202102  168657.0
12  202103  127284.0
13  202104  177906.0
14  202105  151263.0
15  202106  151278.0
16  202107  158952.0
17  202108  165521.0
18  202109  167524.0
19  202110  157057.0
20  202111  159203.0
21  202112  162964.0
22  202201  191391.0
23  202202  160922.0
24  202203  132289.0
25  202204  174460.0
26  202205  135723.0
27  202206  146926.0
28  202207  170461.0
29  202208  180289.0
30  202209  169151.0
31  202210  156861.0
32  202211  138406.0
33  202212  148996.0
34  202301  189248.0
35  202302  154699.0
36  202303  119090.0
37  202304  155122.0
38  202305  129896.0
39  202306  140844.0
40  202307  164994.0
41  202308  167263.0
42  202309  182880.0
43  202310  175957.0
44  202311  130124.0
45  202312  149871.0
46  202401  172577.0
47  202402  141258.0

In [ ]:
df.to_csv('DATA/elec_data.csv', index=False)

In [13]:
# 이제 가스 데이터 조회
# example url = 'http://apis.data.go.kr/1611000/BldEngyService/getBeGasUsgInfo?sigunguCd=11680&bjdongCd=10300&bun=0012&ji=0000&useYm=201501&ServiceKey=HcemfTODn25HOfvMHgFXSX%2BwwiGPX7McdKfXb09VzlvlBo3vmSQcwOx0oybt2SYSTUMa0TdDoe1nIOy7MeYdbg%3D%3D'

df = pd.DataFrame(columns=['useYm', 'useQty'])

for year in range(2020, 2025):
    if year == 2024:
        end_month = 6
    else:
        end_month = 13
    for month in range(1, end_month):
        useYm = f'{year}{month:02d}'
        url = f'http://apis.data.go.kr/1611000/BldEngyService/getBeGasUsgInfo?sigunguCd=27230&bjdongCd=11100&bun=1370&ji=0001&useYm={useYm}&ServiceKey=HcemfTODn25HOfvMHgFXSX%2BwwiGPX7McdKfXb09VzlvlBo3vmSQcwOx0oybt2SYSTUMa0TdDoe1nIOy7MeYdbg%3D%3D'
        response = requests.get(url)
        data = response.text
        root = ET.fromstring(data)
        for item in root.iter('item'):
            for child in item:
                if child.tag == 'useQty':
                    print(useYm, child.text)
                    new_row = pd.DataFrame({'useYm': [useYm], 'useQty': [child.text]})
                    df = pd.concat([df, new_row], ignore_index=True)
                    
print(df)

202001 5577262.0
202002 5173927.0
202003 3260645.0
202004 1073557.0
202005 400349.0
202006 984664.0
202007 1835487.0
202008 1963460.0
202011 1611151.0
202012 4563120.0
202101 5881385.0
202102 5301263.0
202103 3770043.0
202104 2312270.0
202105 1024338.0
202106 1468242.0
202107 1916343.0
202108 2202817.0
202109 1846366.0
202110 1274519.0
202111 1186632.0
202112 3549872.0
202201 4953142.0
202202 4469127.0
202203 3311979.0
202204 1955787.0
202205 804121.0
202206 1398516.0
202207 2332518.0
202208 2127562.0
202209 1790982.0
202210 1332163.0
202211 1353364.0
202212 3706359.0
202301 5163283.0
202302 4951988.0
202303 3050170.0
202304 1782191.0
202305 983409.0
202306 1708440.0
202307 2188141.0
202308 2307551.0
202309 2529407.0
202310 1214706.0
202311 1440307.0
202312 3956066.0
202401 3910183.0
202402 3711023.0
     useYm     useQty
0   202001  5577262.0
1   202002  5173927.0
2   202003  3260645.0
3   202004  1073557.0
4   202005   400349.0
5   202006   984664.0
6   202007  1835487.0
7   202008  1963460.0
8   202011  1611151.0
9   202012  4563120.0
10  202101  5881385.0
11  202102  5301263.0
12  202103  3770043.0
13  202104  2312270.0
14  202105  1024338.0
15  202106  1468242.0
16  202107  1916343.0
17  202108  2202817.0
18  202109  1846366.0
19  202110  1274519.0
20  202111  1186632.0
21  202112  3549872.0
22  202201  4953142.0
23  202202  4469127.0
24  202203  3311979.0
25  202204  1955787.0
26  202205   804121.0
27  202206  1398516.0
28  202207  2332518.0
29  202208  2127562.0
30  202209  1790982.0
31  202210  1332163.0
32  202211  1353364.0
33  202212  3706359.0
34  202301  5163283.0
35  202302  4951988.0
36  202303  3050170.0
37  202304  1782191.0
38  202305   983409.0
39  202306  1708440.0
40  202307  2188141.0
41  202308  2307551.0
42  202309  2529407.0
43  202310  1214706.0
44  202311  1440307.0
45  202312  3956066.0
46  202401  3910183.0
47  202402  3711023.0

In [ ]:
df.to_csv('DATA/gas_data.csv', index=False)