In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
energyDF = pd.read_csv('data/energy_dataset_.csv')
energyDF.head()

,Type_of_Renewable_Energy,Installed_Capacity_MW,Energy_Production_MWh,Energy_Consumption_MWh,Energy_Storage_Capacity_MWh,Storage_Efficiency_Percentage,Grid_Integration_Level,Initial_Investment_USD,Funding_Sources,Financial_Incentives_USD,GHG_Emission_Reduction_tCO2e,Air_Pollution_Reduction_Index,Jobs_Created
0,4,93.423205,103853.2206,248708.4892,2953.248771,89.887562,4,4.732248e+08,1,9.207772e+06,6663.816572,81.742461,1366
1,4,590.468942,190223.0649,166104.1642,5305.174042,84.403343,4,1.670697e+08,2,1.685101e+06,30656.049820,78.139042,1743
2,1,625.951142,266023.4824,424114.6308,2620.192622,60.498249,2,8.463610e+07,2,5.111813e+06,1749.613759,8.461296,363
3,1,779.998728,487039.5296,308337.7316,1925.250307,86.897861,3,3.967690e+08,2,4.805902e+06,43233.237820,8.402441,2821
4,3,242.106837,482815.0856,360437.7705,3948.945383,70.949351,2,3.574413e+07,1,1.668601e+07,14858.662760,28.822867,2583

In [10]:
energyDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Type_of_Renewable_Energy       15000 non-null  int64
 1   Installed_Capacity_MW          15000 non-null  float64
 2   Energy_Production_MWh          15000 non-null  float64
 3   Energy_Consumption_MWh         15000 non-null  float64
 4   Energy_Storage_Capacity_MWh    15000 non-null  float64
 5   Storage_Efficiency_Percentage  15000 non-null  float64
 6   Grid_Integration_Level         15000 non-null  int64
 7   Initial_Investment_USD         15000 non-null  float64
 8   Funding_Sources                15000 non-null  int64
 9   Financial_Incentives_USD       15000 non-null  float64
 10  GHG_Emission_Reduction_tCO2e   15000 non-null  float64
 11  Air_Pollution_Reduction_Index  15000 non-null  float64
 12  Jobs_Created                   15000 non-null  int64
dtypes: float64(9), int64(4)
memory usage: 1.5 MB

In [14]:
# 태양광만 : Type of Renwable Energy = 1
solarDF = energyDF[energyDF['Type_of_Renewable_Energy'] == 1]
solarDF.drop(['Type_of_Renewable_Energy'], axis=1, inplace=True)
solarDF.reset_index(drop=True, inplace=True)
solarDF.head()

C:\Users\mybae\AppData\Local\Temp\ipykernel_9084\2831072880.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solarDF.drop(['Type_of_Renewable_Energy'], axis=1, inplace=True)

,Installed_Capacity_MW,Energy_Production_MWh,Energy_Consumption_MWh,Energy_Storage_Capacity_MWh,Storage_Efficiency_Percentage,Grid_Integration_Level,Initial_Investment_USD,Funding_Sources,Financial_Incentives_USD,GHG_Emission_Reduction_tCO2e,Air_Pollution_Reduction_Index,Jobs_Created
0,625.951142,266023.4824,424114.6308,2620.192622,60.498249,2,8.463610e+07,2,5.111813e+06,1749.613759,8.461296,363
1,779.998728,487039.5296,308337.7316,1925.250307,86.897861,3,3.967690e+08,2,4.805902e+06,43233.237820,8.402441,2821
2,596.174631,292384.4630,415449.6225,9767.234396,50.901906,3,4.491505e+08,2,1.131538e+07,16089.626080,9.038487,309
3,782.934466,277874.8920,228390.8408,8894.275957,72.323955,2,2.370064e+08,1,6.831258e+06,7054.752767,45.168505,4155
4,842.247822,456305.5836,364032.5316,1463.242396,73.447907,2,1.077780e+08,1,1.552282e+07,40329.047780,83.563567,4617

Type_of_Renewable_Energy: 재생 가능 에너지원의 유형을 나타내는 숫자 코드(1: 태양열, 2: 풍력, 3: 수력, 4: 지열, 5: 바이오매스, 6: 조력, 7: 파력)  
Installed_Capacity_MW: 메가와트(MW) 단위의 설치 용량  
Energy_Production_MWh: 메가와트시(MWh)의 연간 에너지 생산량  
Energy_Consumption_MWh: 메가와트시(MWh)의 연간 에너지 소비량  
Energy_Storage_Capacity_MWh: 메가와트시(MWh) 단위의 에너지 저장 용량  
Storage_Efficiency_Percentage: 에너지 저장 시스템의 효율성(백분율)  
Grid_Integration_Level: 그리드 통합 수준을 나타내는 숫자 코드(1: 완전 통합, 2: 부분 통합, 3: 최소 통합, 4: 격리된 마이크로그리드)  
Initial_Investment_USD: USD의 초기 투자 비용  
Funding_Sources: 자금 출처를 나타내는 숫자 코드(1: 정부, 2: 민간, 3: 공공-민간 파트너십)  
Financial_Incentives_USD: USD로 된 재정적 인센티브  
GHG_Emission_Reduction_tCO2e: 온실 가스 배출량 감소(CO2 환산량(tCO2e) 톤)  
Air_Pollution_Reduction_Index: 대기 오염 감소 지수  
Jobs_Created: 생성된 작업 수

In [15]:
# 2169개 : 데이터 개수 적음
# 설치단가 대비 발전량 확인
# 사용 coloumn : Energy_Production_MWh, Initial_Investment_USD
solarDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2169 entries, 0 to 2168
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Installed_Capacity_MW          2169 non-null   float64
 1   Energy_Production_MWh          2169 non-null   float64
 2   Energy_Consumption_MWh         2169 non-null   float64
 3   Energy_Storage_Capacity_MWh    2169 non-null   float64
 4   Storage_Efficiency_Percentage  2169 non-null   float64
 5   Grid_Integration_Level         2169 non-null   int64
 6   Initial_Investment_USD         2169 non-null   float64
 7   Funding_Sources                2169 non-null   int64
 8   Financial_Incentives_USD       2169 non-null   float64
 9   GHG_Emission_Reduction_tCO2e   2169 non-null   float64
 10  Air_Pollution_Reduction_Index  2169 non-null   float64
 11  Jobs_Created                   2169 non-null   int64
dtypes: float64(9), int64(3)
memory usage: 203.5 KB

In [18]:
energyDF = solarDF[['Energy_Production_MWh', 'Initial_Investment_USD']]
energyDF.head()

   Energy_Production_MWh  Initial_Investment_USD
0            266023.4824            8.463610e+07
1            487039.5296            3.967690e+08
2            292384.4630            4.491505e+08
3            277874.8920            2.370064e+08
4            456305.5836            1.077780e+08